<div class="container">
		<table class="table table-hover table-dark">
		  <thead>
			<tr>
				<th scope="col">Project name</th>
			  <th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let projet of projets">
				<th scope="row">{{projet.NOM_PROJET}}</th>
			  <td><div class="gb">--- indicators</div></td>
				<td>
					<button (click)="goToIndicateurs()" mat-icon-button >
						<mat-icon>sort</mat-icon>
					</button>
				</td>
				<td><div class="gb">--- zones</div></td>
			  <td>
					<button (click)="goToZones(projet.CODE_PROJET)" mat-icon-button >
						<mat-icon>list</mat-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
