<body>
    <div class="col align-self-center">
      <div class="container">
          <img src="../assets/Africare_logo.svg.png" alt="">
          <form class="example-form" (ngSubmit)="onSubmit()">
      
            <mat-form-field [color]="'accent'" class="example-full-width">
              <input matInput placeholder="Nom d'utilsateur"  [formControl]="emailFormControl"
                     [errorStateMatcher]="matcher" minlength="5">
              <!--<mat-hint>Corrècte</mat-hint>-->
              <mat-error *ngIf="!emailFormControl.hasError('required')">
                Le nom d'utilisateur doit avoir plus de 5 caractères
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                l'Email est <strong>requis</strong>
              </mat-error>
            </mat-form-field>
      
            <mat-form-field [color]="'accent'"class="example-full-width">
              <input matInput placeholder="Saisir votre mot de passe" minlength="5" [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    
              <mat-error *ngIf="!passwordFormControl.hasError('required')">
                Le nom d'utilisateur doit avoir plus de 5 caractères
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                l'Email est <strong>requis</strong>
              </mat-error>
    
            </mat-form-field>
            
            <div class="button-row">
              <div >
                  <button mat-raised-button color="warn">Se Connecter</button>
              </div>
              
              
            </div>
          </form>
      </div>
    </div>

  </body>

  <p-growl [(value)]="msgs"></p-growl>