.example-form {
    justify-content: space-between;
    padding: 30px;
    height: 350px;
    margin-top: 50px;
  }
  
  .example-full-width {
      width: 100%;
      margin-top: 10px;
      color: white;
  }

  /*:host >>> .mat-form-field-underline{
    background-color: white;
    color:white;
  }*/

  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
  }
  
 .container{
     padding: 20px;
     background-color: rgba(51, 51, 51, 0.5);
     width: 30%;
     min-width: 250px;
     box-shadow: 5px 10px 60px #2b2b28;
 }

img{
   width: 120px;
   height: 75px;
   display: block;
    margin: 0 auto;
 }

 body{
   background-image: url(../../assets/bg.jpg);
   min-height: 700px;
   padding-top: 100px;
 }