img{
	background-size: 200px;
	width: 150px;
	height: 75px;
	justify-content: center;
	display: block;
    margin: 0 auto;
}

.block{
	position: absolute;
	margin-top: 6%;
}
.container-img{
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;

	padding-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e6e6e6;
}

.col-md-3{
	background-color: white;
	min-width: 250px;
}

.maison{
	height: 700px;
	background-color: #f2f2f2;
	padding-left: 25px;
}

.pull-right{
	margin-right: 15px;
}

.col-md-9{
	background-color: red;
	padding: 0;
}

app-aside{
	text-align: center;
}

.title{
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
}

button{
	margin-top: 25px;
	outline: none;
}

mat-icon{
	font-size: 35px;
	margin-right: 10px;
}

.section{
	margin-top: 0;
}

